// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #009F3D;
$gray: #0E0000;
$light-gray: #F4F4F4;

$white: #F5F3F5;
$dark-green: #111D13;
$orangy: #E98A15;
$purple: #59114D;
