a {
  color: $purple;
  &:hover {
    text-decoration: none;
    color: $purple;
    opacity: 0.7;
  }
}

.message-purple {
  color: $purple !important;
}

.message-orange {
  color: $orangy !important;
}

h2 {
  color: $dark-green;
  font-weight: bold;
}

.card-product {
  overflow: hidden;
  width: 320px;
  height: 400px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 12px;
  .booking-info {
    background: $white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }
  img {
    height: 400px;
    width: 320px;
    border-radius: 12px;
    object-fit: cover;
    opacity: 0.3;
    z-index: -10;
    position: absolute;
  }
  .text-content {
    width: 100%;
    align-items: center;
  }
  .card-product-infos {
    z-index: 10;
    position: relative;
    h4 {
      color: $purple;
    }
  }
}

.card-product img {
  height: 400px;
  width: 320px;
  border-radius: 12px;
  object-fit: cover;
}

.card-product p {
  font-size: 18px;
  opacity: 0.8;
  line-height: 1.2;
  color: $black;
}

.btn-purple {
  background-color: $purple;
  color: $white;
  font-weight: bold;
}

.text-purple {
  color: $purple;
}

.text-bg {
  font-size: 24px;
}
