.photo-upload {
    color: transparent;
    position: relative;
    color: black;
    
  }
  .photo-upload::-webkit-file-upload-button {
    visibility: hidden;
  }
  .photo-upload::before {
    content: 'Add';
    background-color: $green;
    color: white;
    font-weight: bold;
    display: inline-block;
    // position: absolute;
    // right: 5px;
    // border: 1px solid $f-nav-green;
    border-radius: 12px;
    padding: 6px 30px;
    margin-top: 3px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 14px;
  }
