
h1 {
  font-size: 25px;
}

.title-search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0;
}

.cards-map-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.equip-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  width: 60%;
  margin-bottom: 8px;
}

// Smallest device
@media (min-width: 480px) {
  .equip-card-container {
    grid-template-columns: 1fr;
    width: 100%;
  }
  #map {
  display: none;
  }
}

@media (min-width: 635px) {
  .equip-card-container {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  #map {
    display: block;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .equip-card-container {
    grid-template-columns: 1fr 1fr;
    width: 100%;

  }
  #map {
  display: block;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .equip-card-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
    width: 60%;
  }
}

.search button {
  border-radius: 20px;
  justify-content: space-around;
}
