li { 
  list-style-type: none;
}

#cards {
  margin: 0 auto;
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
  .card {
    margin: 0 5px;
    width: 400px;
  }
}



@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}