
h1 {
  font-size: 25px;
}



.title-search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0;
}

.cards-map-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.equip-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 50%;
}

.search button {
  border-radius: 20px;
  justify-content: space-around;
}


.container {
}
// li {
//   list-style-type: none;
// }

// #cards {
//   margin: 0 auto;
//   padding-left: 0px;
//   display: flex;
//   justify-content: space-around;
//   .card {
//     margin: 0 5px;
//     width: 400px;
//   }
// }



// @media(max-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }
