#total-price {
  font-weight: bold;
}

h1 {
  font-size: 32px;
  color: $purple;
}

.title-color {
  color: $green;
}

.carousel-center {
  margin: auto;
}

.white-card {
  background: $white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.orange-row {
  max-height: 350px;
}
