// Specific CSS for your home-page
body, html {
  height: 100%;
}

.notice {
  margin-bottom: 0px;
}

.banner {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
}


.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 52px;
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn:hover {
  color: $white;
}