// Import page-specific CSS files here.
@import "home";
@import "booking_index";
@import "equipment_index";
@import "equipment_show";
@import "equipment_new";
@import "ses_reg_new";
@import "edit_equipment"