<div class="orange-border">
  <% @equipments.each do |equipment| %>
    <ul class="list-group list-group-flush">
      <% if equipment.user_id == user.id %>
        <li class="list-group-item text-size"><%= link_to equipment.name, equipment_path(equipment) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
