<h1>Equipments#index</h1>
<p>Find me in app/views/equipments/index.html.erb</p>

<ul>
<% @equipments.each do |equipment| %>
<li><%= link_to equipment.name, equipment_path(equipment) %> owned by <%= User.find(equipment.user_id).first_name%> <%= User.find(equipment.user_id).last_name%></li>
<% end %>
</ul>

<%= link_to "Add Equipment", new_equipment_path %>
