<div class="container-fluid">
  <div class="title-search">
    <div class="title">
      <h1>Try a new sport today!</h1>
    </div>
    <div class="search">
      <form class="form-inline m-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search equipment..." aria-label="Search" name="search">
        <button class="btn btn-success my-2 my-sm-0 border" type="submit">Search</button>
      </form>
    </div>
  </div>

  <div class="cards-map-container">
    <div class="equip-card-container">
      <% @equipments.each do |equipment| %>
      <%= render 'carousel-card', equipment: equipment%>
      <% end %>
    </div>
    <div id="map"
         style="width: 50%; height: 600px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
