<div class="banner" style="background: linear-gradient(#E98A15, #59114D);">
  <div class="main-container">
    <h1 class="my-4">Change sports everyday!</h1>
    <% if user_signed_in? %>
      <%= link_to "Take a look", equipments_path, class: "nav-link btn btn-lg" %>
    <% else %>
      <%= link_to "Take a look", equipments_path, class: "nav-link btn btn-lg" %>
    <% end %>
  </div>
</div>

<%# , data: { toggle: "modal", target: "#loginModal" } %>