<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://t4.ftcdn.net/jpg/01/89/36/09/240_F_189360999_LBhBwBTt7Smvz2IPi32TRt4gGFhaHAdT.jpg);">
  <div class="container">
    <h1>Need to say something cool here!</strong>!</h1>
    <p>Here as well :P</p>
    <%= link_to "Equipments", equipments_path, class: "btn btn-success" %>
  </div>
</div>
