<div class="banner" style="background: linear-gradient(#E98A15, #59114D);">
  <div class="main-container text-center">
    <h1 class="my-4">Change sports everyday!</h1>
    <%= link_to "Take a look", equipments_path, class: "btn btn-lg" %>
  </div>
</div>
