.btn {
  color: $white;
  background-color: $green;
  color: #F5F3F5;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
    color: $white;
  }
}

.dark-text {
  color: black !important;
  &:hover {
    color: $green !important;
  }
}
