.photos img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.equip-card {
  // border: 1px solid #111D13;
  // height: fit-content;
  // justify-content: center;
  border-radius: 12px;
  grid-column: span 1;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  .d-flex {
    .card-right-content {
      color: $dark-green;
    }
  }
}

.equip-card:hover {
  opacity: .6;
  background-color: $orangy;
  a {
    text-decoration: none;
  }
}

.equip-text {
  // text-align: center;
  line-height: 20px;
  color: black;
}


.card-new {
  padding: 30px 20px;
  border-radius: 5px;
}
