

.photos {
  border-radius: 15px;
  width: 150px;
  // height: 150px;
  width: 100%;
}

.photos img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.equip-card {
  border: 1px solid #111D13;
  // height: fit-content;
  justify-content: center;
  border-radius: 15px;
  grid-column: span 1;

}

.equip-card:hover {
  opacity: .75;
  background-color: #E98A15;
  a {
    text-decoration: none;
  }
}

.equip-text {
  text-align: center;
  line-height: 20px;
  color: black;
}


.card-new {
  padding: 30px 20px;
  border-radius: 5px;
}
