.footer {
  background: $dark-green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: $white;
  font-size: 15px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $orangy;
  text-decoration: none;
  font-size: 15px;
  padding: 0px 10px;
  &:hover {
    opacity: 0.7;
  }
}
.footer .fa-heart {
  color: $purple;
}
