.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  position: sticky;
  top: 70px;
  padding: 10px;
  margin: 0px 5px 8px 10px;
//   // display: inline-block;
}
