.navbar-lewagon {
  justify-content: space-between;
  background: $dark-green;
  position: sticky;
  top: 0;
  z-index: 120;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.white-text {
  color: #F5F3F5;
  text-decoration: none;
  font-size: 20px;
  &:hover {
    color: $green;
  }
}

.dropdown-item {
  color: $dark-green;
  &:hover {
    background-color: $green;
  }
}

.navbar-brand:hover {
  opacity: 0.7;
}
