.modal-content {
  border-radius: 20px;
  h5 {
    color: #59114D;
  }
  .modal-header {
      justify-content: center;
      border-bottom: 0px;
    }
  .modal-footer {
    justify-content: center; 
    border-top: 0px;
    padding: 0px;
      .btn {
        background-color:rgba(0, 159, 61, 1);
        color: white;
        font-weight: bold;
        border: 0px;
        margin: 0px;
        border-radius: 12px;
        &:hover {
          background-color: rgb(1, 134, 52);
        }
      }
    }
}

#user_email, #user_password, #user_first_name, #user_last_name,
#user_address, #user_password_confirmation {
  border-radius: 12px;
} 


// input[type='checkbox'][value='1']#user_remember_me {
//   background-color: rgba(0, 159, 61, 1);
// }